.DS_Store
**/.DS_Store
*.xcuserstate
iOS/GroupMusic.xcodeproj/xcuserdata/louis.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iOS/GroupMusic.xcodeproj/xcuserdata/louis.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
